html,
body {
    margin: 0px;
    padding: 0;
}

h2 {
    font-size: px;
}

/*------header section ------*/

.header-section {
    background-color: black;
    background-size: -10px;
    display: flex;
    align-items: center;
    position:absolute;
    width: 100%;
}

.site-logo {
	display: inline-block;
	padding: 5px 5px 2px;
    background-color: black;
  
    
}

.main-menu {
    display: inline-block;
    
}

.main-menu li {
    display: inline-block;
    
}

.main-menu li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 50px;
    
}

